:root{
    --Very-dark-blue:hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --Soft-violets: hsl(277, 64%, 61%);
    --nav-color:#333;
    --white:#fff;
    --dark-blue:#0F3460;
    --light-blue:#017AFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* NAV BAR */
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    padding: 5px;
    z-index: 1;
}


.nav_background{    
     width: 100%;
    background-color: var(--nav-color);
    
}

.page_icon{
    width: 50px;
    height: 50px;
    
}

.nav_mobile-menu{
    width: 50px;
    height: 50px;
    fill: #fff;
}

.nav_mobile-menu:hover{
    cursor: pointer;
    transform:translate(-2px,-2px);


}



.nav-sub-menu{
    list-style: none;

}

.nav_menu{
    display: inline;
    
}
.nav-sub-menu:hover{
  transform:translate(-2px,-2px);
}

  
.nav_item{
    color:var(--white);
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;

}   

.nav_item:hover{
    color: var(--light-blue);
    cursor: pointer;
}

.nav_mobile-menu{
    display: hidden;
}



/* header img*/
header{ width: 100%;
 
    
  }

.nav_container{
    background-image: url(./images/header_background.png);
    width: 100%;
    height:600px;
    background-repeat: no-repeat;
    background-size:100%;  
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; 
    position: relative;    
}



.header_title{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    padding-bottom: 5px;
    text-align: center;
    letter-spacing: -0.011em;
    color:#017AFF;
    
}

.header_slogan{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 5px;
    text-align: center;
    letter-spacing: -0.011em;
    color:#017AFF;
}

.nav_button{
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 5px #eee;
    border-radius: 10px;
    display: flex;
    filter: brightness(90%);
    margin: 10px;
    padding: 15px 45px;
    flex-wrap: wrap;
}


.nav_button:hover{
    background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
    a{
        text-decoration: none;
    }

    /*SEECTION 1 */

    



            




/* MediasQueries */

/* Extra small devices (phones, 600px and less) */


@media only screen and (max-width: 600px) {
    .nav-sub-menu{
        display: none;
    }
    .header_img{
        position: relative;
        top: -90px;

    }
    



}

/* Small devices (vertical tablets and large phones, 600px and up) */
@media only screen and (min-width: 320px)  {
    .nav_container{
        position: relative;
        top: -175px;
    }
    .header_title{
        font-size:15px;
    }
    .header_slogan{
        font-size: 18px;
    }

    .nav_button{ 
        margin: 2px;
        padding: 2px 2px;

    }

    .nav-sub-menu{
        display: none;
    }
   

  
}

/* Small devices (vertical tablets and large phones, 600px and up) */
@media only screen and (min-width: 590px) {
    
    .nav_container{
        position: relative;
        top: -110px;
    }
        .header_title{
            font-size:20px;
        }
        .header_slogan{
            font-size: 20px;
        }
    
        .nav_button{ 
            margin: 5px;
            padding: 5px 5px;
    
        }

        .nav-sub-menu{
            display:none;
        }
       

    }



/* Medium devices (horizontal tablets, 768px and above) */
@media only screen and (min-width: 768px) {
   
    .nav_container{
        position: relative;
        top: -70px;
    }
    .header_title{
        font-size:35px;
    }
    .header_slogan{
        font-size: 30px;
    }

    .nav_button{ 
        margin: 10px;
        padding: 10px 10px;

    }

    .nav_mobile-menu{
        display: none;
    }

    .nav-sub-menu{
        display:flex;
    }

   
    

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    .header_title{
        font-size:50px;
    }
    .header_slogan{
        font-size: 45px;
    }

    .nav_button{ 
        margin: 10px;
        padding: 10px 10px;

    }
    .nav_mobile-menu{
        display: none;
    }

    .nav-sub-menu{
        display:flex;
    }
    
}
   


/* Extra large devices (Large laptops and desktops, 1200px and above) */
@media only screen and (min-width: 1000px){
    .header_title{
        font-size:60px;
    }
    .header_slogan{
        font-size: 50px;
    }

    .nav_button{ 
        margin: 10px;
        padding: 10px 10px;

    }

    .nav_mobile-menu{
        display: none;
    }

    .nav-sub-menu{
        display:flex;
    }


}