/* Site Stylesheet
  1. NAV BAR 
  2. HEADER IMG 
  3. ARTICLE 
  4. FIGURE CARD
  5. SECTION 1 
  6. SECTION 2
  7. SECTION 3
  8. contact us form 
  9.Card app
  10.FOOTER 
  11.MediasQueries 
======================================== */


:root {
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --Soft-violets: hsl(277, 64%, 61%);
    --nav-color: #333;
    --white: #fff;
    --dark-blue: #0F3460;
    --light-blue: #017AFF;
    --color-primary: #d52881;
    --color-secondary: #00aec2;
    --color-gradient-start: #d52881;
    --color-gradient-stop: #00aec2;
    --color-link: #d52881;
    --color-link-hover: #1f3c7b;
    --lqd-cc-size-inner: 12px;
    --lqd-cc-active-bw: 1px;
    --lqd-cc-active-bg: rgb(255, 255, 255);
    --lqd-cc-active-bc: rgb(255, 255, 255);
    --lqd-cc-active-circle-txt: rgb(255, 255, 255);
    --lqd-cc-active-circle-color: rgb(39, 39, 58);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   

}


/* NAV BAR */
/*======================================== */

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    padding: 5px;
    z-index: 1;
    flex-wrap: wrap;



}

#nav-search {
    padding: 5px;
    margin-right: 5px;
    width: 250px;
    border-radius: 20px;
    border: var(--color-link-hover) 1px solid ;

}

.nav_background {
    width: 100%;
    background-color: var(--nav-color);

}

.nav_icon {
    width: 50px;
    height: 50px;




}

.nav_mobile-menu {
    width: 50px;
    height: 50px;

}

.nav_mobile-menu:hover {
    cursor: pointer;
    transform: translate(-2px, -2px);


}



.nav-sub-menu {
    list-style: none;


}

.nav_menu {
    display: inline;


}

.nav-sub-menu:hover {
    transform: translate(-2px, -2px);
}


.nav_item {
    color: var(--white);
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;

}

.nav_item:hover {
    color: var(--light-blue);
    cursor: pointer;
}

.nav_mobile-menu {
    display: hidden;
}



/* header img*/
/*======================================== */
header {
    width: 100%;


}

.nav_container {
    background-image: url(./images/waves\ header.png);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header_img {
    width: 150px;
    height: 150px;
    margin-top: 30px;


}


.header_title {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    padding-bottom: 5px;
    text-align: center;
    letter-spacing: -0.011em;
    color: #017AFF;

}

.header_slogan {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 5px;
    text-align: center;
    letter-spacing: -0.011em;
    color: #017AFF;
}

.nav_button {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 5px #eee;
    border-radius: 10px;
    display: flex;
    filter: brightness(90%);
    margin: 10px;
    padding: 15px 45px;
    flex-wrap: wrap;
}


.nav_button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    
}

a {
    text-decoration: none;
}


/* article */
/*======================================== */
.container_need-repair {
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container_need-repair-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    letter-spacing: -0.019em;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

.container_need-repair-paragraph {
    font-size: 20px;
}

.container_need-repair-paragraph {
    padding: 10px;
    line-height: 30px;
    color: var(--color-link-hover)
}

.need_repair-button1,
.need_repair-button2 {
    margin: 15px;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;

}


.need_repair-button2:hover {
    transform: translate(-2px, -2px);
}

.need_repair-button1:hover {
    transform: translate(-2px, -2px);
}

.need_repair-button1 {
    color: var(--white);
    background: var(--color-link-hover);
    font-size: 18px;
}

.need_repair-button2 {
    color: var(--white);
    background: var(--color-link);
    font-size: 18px;
}


/*  figure (card section)*/
.card_img {

    width: 250px;
    height: 250px;
    background: #00aec2;
    border-radius: 10px;

}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 20px;

}

.catalog_item1,
.catalog_item2,
.catalog_item3 {
    flex-direction: column;
    justify-content: space-evenly;
    display: inline-block;
    padding-left: 30px;
    margin: 25px;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
    padding: 10px;
}

.card_paragraph {
    color: var(--color-link-hover);
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    font-size: 25px;
}

.catalog_botton {
    color: var(--white);
    background: var(--color-link);
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.catalog_botton:hover {
    opacity: 0.75;
  }

/*SEECTION 1 */
/*======================================== */
.main_container1 {
    width: 100%;

}

.contaner1_title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    letter-spacing: -0.019em;
    color: var(--light-blue);
    text-transform: uppercase;
    font-weight: 700;
}

.container1_item1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 0 auto;
    color: var(--nav-color);
}

.container1_paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.019em;
    color: var(--color-link-hover);
    padding: 5px;
    margin-top: 5px;
}

/*section 2 */
/*======================================== */
.section_2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.main_container2 {

    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    filter: brightness(90%);
    width: 1600px;
    width: 100%;

}

.contaner2_title {
    color: var(--light-blue);
    font-weight: 700;
    font-size: 35px;
}

.container2_item1,
.container2_item2,
.container2_item3 {
    display: inline-block;
    justify-content: space-evenly;
    padding: 10px;
}


/*  section 3 */
/*======================================== */
.section_3 {

    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.standards_item1,
.standards_item2,
.standards_item3,
.standards_item4 {
    flex-direction: column;
    justify-content: space-evenly;
    display: inline-block;
    padding-left: 30px;
    margin: 20px;
    border-radius: 5px;
    margin-bottom: 40px;

}

.id_cards{
    display: flex;
    width: 100%;
    margin-top: 50px;
    

}

.id_cards-title{
    text-align: center;
    justify-content: center;
    font-size: 30px;
    margin: 30px;
    color: var(--light-blue);

}


.id_cards1,
.id_cards2,
.id_cards3 {
    display: inline-block;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
    flex-wrap: 5px;
    margin: 20px;
    justify-content: space-around;
    align-items: center;   
    text-align: center; 
}

/*   contact us form */ 
/*======================================== */
 div > form { 
    width: 50%;
    margin-top: 50px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 20px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    overflow: visible;
  }

  

  /* Card app */
  /*======================================== */
.card_app{
    display: flex;
    width: 100%;
    margin-top: 65px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

  .card_app-container{
    background-color:#D9D9D9;
    width: 700px;
    margin-top: 10px;
    padding-top:10px ;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 10px;
  }

  .card_app-link{
    padding: 10px;
   height: 40px;
   width: 40px;
  }
   
   
  /* FOOTER */
  /*======================================== */


.footer-icon{
    text-align: center;
    width: 125px;
    height: 75px;

}

.footer_main-container{
    display: flex;
    width: 100%;
    cursor: pointer;
    justify-content: space-evenly;
    background-color: #203b7b;
    flex-wrap: wrap;
    

}

.f-list1,
.f-list2,
.f-list3{
    display: flex;
    flex-direction: column;
    list-style: none;
    color: var(--white);
    margin:  15px;
    padding: 15px;
    justify-content: center;
    align-items: center;

}
.f-img{
    display: flex;
    flex-direction: row;
    color: var(--white);
    justify-content: center;
    text-align: center;
    align-items: center;



}

.f_li{
    display: flex;
    flex-direction: row;
}
.f_icon{
    width: 50px;
    height: 50px;
    margin: 5px;
}

.attribution { 
    font-size: 25px; 
    text-align: center;
    background-color: var(--Cream);
    width: auto;
    height: auto;
 }
    .attribution a { 
        color: hsl(228, 45%, 44%);
        text-decoration: none;

    
    }

    .attribution a:hover{
        cursor: pointer;
        color: var(--Dark-cyan);
    }
/* MediasQueries */
/*======================================== */

/* Extra small devices (phones, 600px and less) */


@media only screen and (max-width: 600px) {
    .nav-sub-menu {
        display: none;
    }

    .header_img {
        position: relative;
        top: -90px;

    }




}

/* Small devices (vertical tablets and large phones, 317pxpx and up) */
@media only screen and (min-width: 317px) {
    .nav_container {
        position: relative;
        top: -175px;
    }

    .header_title {
        font-size: 15px;

    }

    .header_slogan {
        font-size: 15px;
    }

    .nav_button {
        margin-top: 5px;
        padding: 5px 5px;

    }

    .nav-sub-menu {
        display: none;
    }

    .header_img {
        position: relative;
        top:8px;
        width: 80px;
        height: 60px;

    }

    .container_need-repair {
        position: relative;
        top: -200px;

    }

    .nav_mobile-menu{
        width: 30px;
        height: 30px;
        margin-right: 5px;

    } 

    .id_cards-title{
        font-size: 20px;
    }

    .card_app{
        margin: 25px;
    }

   

}

/* Small devices (vertical tablets and large phones, 600px and up) */
@media only screen and (min-width: 590px) {

    .nav_container {
        position: relative;
        top: -110px;
    }

    .header_title {
        font-size: 30px;
    }

    .header_slogan {
        font-size: 25px;
    }

    .nav_button {
        margin: 5px;
        padding: 5px 5px;

    }

    .nav-sub-menu {
        display: none;
    }

    .header_img {
        width: 150px;
        height: 150px;
        margin-top: 30px;

    }

    .container_need-repair {
        position: relative;
        top: 25px
    }


}



/* Medium devices (horizontal tablets, 768px and above) */
@media only screen and (min-width: 768px) {

    .nav_container {
        position: relative;
        top: -70px;
    }

    .header_title {
        font-size: 35px;
    }

    .header_slogan {
        font-size: 30px;
    }

    .nav_button {
        margin: 10px;
        padding: 10px 10px;

    }

    .nav_mobile-menu {
        display: none;
    }

    .nav-sub-menu {
        display: flex;
    }

    .header_img {
        width: 125px;
        height: 125px;
        margin-top: 60px;

    }



}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header_title {
        font-size: 50px;
    }

    .header_slogan {
        font-size: 45px;
    }

    .nav_button {
        margin: 10px;
        padding: 10px 10px;

    }

    .nav_mobile-menu {
        display: none;
    }

    .nav-sub-menu {
        display: flex;
    }

}



/* Extra large devices (Large laptops and desktops, 1200px and above) */
@media only screen and (min-width: 1000px) {
    .header_title {
        font-size: 60px;
    }

    .header_slogan {
        font-size: 50px;
    }

    .nav_button {
        margin: 10px;
        padding: 10px 10px;

    }

    .nav_mobile-menu {
        display: none;
    }

    .nav-sub-menu {
        display: flex;
    }


}