*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{

}

/* NAV BAR */
.nav_background{
    
    position: fixed;
    width: 100%;
    height: 5vh;
    overflow: hidden;
    background-color: #333;
    top: 0; 
    z-index: 1;
  
    
}

.nav_menu{
    display: inline-flex;
    float: right;
    padding-left: 12px;
    margin: 15px;
    }

.nav_item{
    color: aliceblue;
    font-size: 18px;
    text-decoration: none;
}   

.nav_item:hover{
    color: rgb(130, 130, 249);
    cursor: pointer;
    transform:translate(-2px,-2px);
}

/* header img*/

.header_img{
    position: absolute;
    background: url(./images/apple-macbook-self-repair.jpg.webp);
    width: 100%;
    height:55%;
    background-repeat: no-repeat;
    background-size:100%;
    margin-top: 40px;
}

/*header*/
.header_title{
    position: absolute;
    width: 60%;
    height: 51px;
    left: 325px;
    top: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.011em;
    color: #FFFFFF;
}

.header_slogan{
    position: absolute;
    width: 50%;
    height: 51px;
    left: 420px;
    top: 275px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.011em;
    color: #FFFFFF;
}

.header_botton{
    position: absolute;
    width: 20%;
    height: 67px;
    left: 685px;
    top: 400px;
    background: rgba(5, 29, 242, 0.92);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.header_botton:hover{
    transform:translate(-2px,-2px);
    cursor: pointer;
}

.header_botton:active{
    transform:translate(2px,2px);

}
.botton_paragraph{
    padding: 12px;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}



.botton_item{
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}

.botton_item:hover{
    color: rgb(130, 130, 249);
    
}

/*SEECTION 1 */

.contaner1_title{
    position: absolute;
    width: 25%;
    height: 84px;
    left: 644px;
    top: 600px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 32px;
    letter-spacing: -0.019em;
    color: #676464;
    text-align: center;
    padding: 5px;
}

.container1_item1{
    position: absolute;
width: 25%;
height: 57px;
left: 10%;
top: 725px;
padding: 5px;
max-resolution: 5px;
}

.container1_item2{
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 67px;
    left: 40%;
    top: 725px;
}

.container1_item3{
    position: absolute;
    float: right;
    width: 25%;
    height: 67px;
    left: 80%;
    top: 725px;
}

.container1_header{
    Font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 32px;
    letter-spacing: -0.019em;
    color: rgba(0, 0, 0, 0.8);
}

.container1_paragraph{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.019em;
    color: #676464;
}

.main_container2{
    position: absolute;
    width: 85%;
    height: 200px;
    left: 150px;
    top: 850px;
    background: #454A48;
    border-radius: 50px;
}

.contaner2_title{
position: absolute;
width: 50%;
height: 109px;
left: 417px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 77px;
color: #fff;
text-align: center;
}

.container2_item1{
    position: absolute;
width: 25%;
height: 48px;
left: 119px;
top: 100px;
}

.container2_item2{
    position: absolute;
width: 25%;
height: 48px;
left: 594px;
top: 100px;
}

.container2_item3{
    position: absolute;
width: 25%;
height: 48px;
left: 1038px;
top: 100px;
}